h1 {
	font-size: 25px;
	padding-top: 25px;
	text-align: center;

}

 h1{
 color:white;

}

/*html,body {
	height: 100%;

}*/

body {
	font-family: "Times New Roman", Times, serif;
	background-image:
           url("schoolpicture.png");
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           height: 100vh;

}

.background{
	filter:blur(5px);
}

.everything {
	color: white;
	text-align: center;
}
.image {
	height: 400px;
	width: 400px;
}
.context {
	font-size: 25px;
	color: white;
}
.button {
	margin-right: 33px;
	margin-bottom: 85px;
	background-color: white;
	color: black;

}
.title {
	font-size: 56px;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 15px;

}
.words {
	color: white;
	font-size: 38px;
	padding-top: 15px;
	text-align: center;
	margin-left: 35px;
	margin-right: 35px;
}
hr {
    display: block;
    height: 30px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#onlineq1 {
	padding-bottom: 45px;
}
.stat {
	font-size: 25px;
	
}
.list {
	text-align: center;
}
#restartnow {
	margin-top: 20px;
}
